@model IEnumerable<FrostbyteWebApp.Models.SendDeliveryNote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdrID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdrID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PM.Address1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SendDeliveryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SendDeliveryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SendDeliveryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
