@model FrostbyteWebApp.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendSupplierRequestForQoutationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendSupplierRequestForQoutationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankNameID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankNameID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YourReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YourReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheirReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheirReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
