@model IEnumerable<FrostbyteWebApp.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendSupplierRequestForQoutationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankNameID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YourReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheirReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendSupplierRequestForQoutationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YourReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheirReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
