@model IEnumerable<FrostbyteWebApp.Models.PurchasingRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<body>






    <p>






        <div class="card">
            <div class="card-header">
               SENT PURCHASING REQUEST
            </div>
            <div class="card-body">



                <table class="table">
                <thead>
                    <tr>
                        <th>
                                @Html.DisplayNameFor(model => model.DateIssued)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Inv)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ItemCode)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ItemName)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Specification)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.D)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ItemModel)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.ItemSerialNumber)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Unit)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.EstimatedPrice)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                    @Html.DisplayFor(modelItem => item.DateIssued)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Inv.Address1)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.ItemCode)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Specification)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.D.DepartmentID)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.ItemModel)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.ItemSerialNumber)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.EstimatedPrice)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PurchasingRequestID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.PurchasingRequestID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.PurchasingRequestID">Delete</a>
                            </td>
                        </tr>
                        }
                </tbody>
                </table>

 

            </div>
        </div>


 
    </p>
</body>
 
