@model IEnumerable<FrostbyteWebApp.Models.SendPmRequestForQuotation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmRequestForQuotationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmRequestForQuotationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S.Address1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SendPmRequestForQoutationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SendPmRequestForQoutationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SendPmRequestForQoutationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
