@model FrostbyteWebApp.Models.SupplierRequestForQoutation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SupplierRequestForQoutation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D.DepartmentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QoutedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QoutedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentSpecifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentSpecifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverySpecification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliverySpecification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermsCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermsCondition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierRequestForQuotationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
